body{
  margin: 0%;
  padding:0%;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}
h1{
  color:#66BFBF;
  font-size: 90px;
  margin: 0px auto 0 auto;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
}
h2{
  font-size: 2.5rem;
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;

  text-align: left;
  }
  .intro{
    width: 30%;
    margin: auto;
  }
  p{
    line-height: 2;
    font-weight: 800;
  }
  hr{
    border: dotted #b3c0c0 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
  }
.topcontainer{
  background-color: #B6FFFA;
  position:relative;
}

.middlecontainer{
  margin: 100px 0;
}
.bottomcloud{
  position: relative;
  bottom:300px;
  right: 70px;
}
.topcloud{
  position:absolute;
  top:50px;
  right:300px;
}
.mountain{
  position: relative;
  right: 55px;;
}
.skill-img1{
  border-radius: 50%;
  border: solid 2px black;
  width: 30%;
  float: left;
  margin-right: 30px;
  }
  .skill-img2{
    border-radius: 50%;
    border: solid 2px black;
    width: 30%;
    float: right;
    margin-left: 30px;
    }
.contact-message{
  width: 40%;
  margin:auto;
  margin-bottom: 50px;
  margin-top: 50px;
}
button a {
  text-decoration: none;
  font-family: arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  color: #fff;
  background-color: #11cdd4;
  border-radius: 8px;
  border: none;
}
button{
  border: none;
}
button a:hover{
  background-color: #40514e;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
a{
  color: #0e7e82;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px ;
  font-weight: 800;
}
a:hover{
  color: #fff;
}
.copyright{
  font-size: 0.75rem;
  color: white;
  padding: 20px 0;
}